<html>
	<head>
		<title>Page Title</title>
	</head>

	<body>

		<h1> Enter the URL
		</h1>
		<form method = "POST" action='/info'>
			<input name ="name" type="text" size="25"><br/>

			<input type = 'submit'name='submit' value='oneUrl'>  </button>
			<input type = 'submit'name='submit2' value='multiUrl'>  </button>
		</form>
		{% for val in value %}
		<li>{{val['_source']['url']}}</li>
                <li>{{val['_source']['numWord']}}</li>
                <li>{{val['_source']['time']}}</li>
             <form method = "POST" action = "/analyze">
             <input type = 'hidden' name='hid' value={{val['_source']['url']}}>
             <input type = 'submit' name='tf-idf' value='tfidf'></button>
             <input type = 'submit' name='Cosine' value='cosine'> </button>
                </form>
     		{% endfor %}
                </form>
	

	</body>
</html>

